body {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

header > #top-nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.banner {
    margin-top: 5px;
}