<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
<!-- 헤더 -->
<header>
    <nav id="top-nav" role="navigation" class="is-white">
        <div class="nav-logo">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='image/kaist_sw-logo.png') }}">
            </a>
        </div>
        <div class="nav-main">
            <div class="field is-grouped">
                {% if current_user %}
                    <div class="member-nickname"><span class="tag is-link is-light">{{ current_user['nickname'] }}</span>님 안녕하세요</div>

                    <form action="{{ url_for('logout') }}" method="post" style="margin-right: 10px;">
                        <button class="button">로그아웃</button>
                    </form>
                {% else %}
                    <a class="button" href="{{ url_for('login') }}">로그인</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="hero is-success">
        <div class="hero-body center">
            <p class="title">정글 밸런스 게임</p>
            <p class="subtitle is-6">나만의 정글 리추얼 만들기</p>
        </div>
    </section>
</header>

<section class="section">
    <div class="container">
        <h1 class="title">My Page</h1>
        <h2>참여한 밸런스 게임 목록</h2>
        <br>
        <br>
        <h2>생성한 밸런스 게임 목록</h2>
        <br>
        <br>
        <h2>좋아요 누른 밸런스 게임 목록</h2>
    </div>
</section>
</body>
</html>
