<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/question.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap" rel="stylesheet">

    <title>질문</title>
</head>
<body>

<header>
    <nav id="top-nav" role="navigation" class="is-white">
        <div class="nav-logo">
            <a class="navbar-item" href="/static">
                <img src="{{ url_for('static', filename='image/kaist_sw-logo.png') }}">
            </a>
        </div>

        <div class="nav-main">
            <div class="field is-grouped">
                <button class="button">로그인</button>
            </div>
        </div>
    </nav>

    <section class="hero is-success banner">
        <div class="hero-body center">
            <p class="title">정글 밸런스 게임</p>
            <p class="subtitle is-6">나만의 정글 리추얼 만들기</p>
        </div>
    </section>
</header>

<section class="question-info">
    <div class="question-maker-info">
        <span class="tag is-link is-light">치키차카</span>
        <span class="created-at">2024.08.06. 14:30</span>
    </div>
    <div class="question-indicator">
        <span>👍10</span>
        <span>💬10</span>
        <span>🖱️10</span>
    </div>
</section>

<section class="question-box lr-align">
    <div class="button-box question-select">
        <button class="button question">
            Success
        </button>
    </div>
    <div class="versus">
        <span class="versus-v">V</span>
        <span class="versus-s">S</span>
    </div>
    <div class="button-box ">
        <button class="button question">
            Success
        </button>
    </div>
</section>

<section class="chart-box">

</section>

<section class="comment-input">
    <textarea class="textarea is-success" rows="3" type="text" placeholder="댓글을 작성해주세요"></textarea>
    <div class="button-right-align">
        <button class="button is-success is-light">댓글 등록</button>
    </div>
</section>

<section>
    <div class="comment-box">
        <div class="comment-nickname">
            <span class="tag is-link is-light">치키차카</span>
            <p class="created-at">2024.08.06. 14:30</p>
        </div>
        <div class="comment-text">
            <p>잘 자야 머리가 잘 돌아감</p>
        </div>
    </div>
    <div class="comment-box">
        <div class="comment-nickname">
            <span class="tag is-link is-light">치키차카</span>
            <p class="created-at">2024.08.06. 14:30</p>
        </div>
        <div class="comment-text">
            <p>잘 자야 머리가 잘 돌아감</p>
        </div>
    </div>
    <div class="comment-box">
        <div class="comment-nickname">
            <span class="tag is-link is-light">치키차카</span>
            <p class="created-at">2024.08.06. 14:30</p>
        </div>
        <div class="comment-text">
            <p>잘 자야 머리가 잘 돌아감</p>
        </div>
    </div>
</section>

</body>
</html>